/* Give each icon spacing */
.icon {
  margin-right: 10px;
}

/* Font size for the navigation menu */
.navigationMenuText {
	font-size: large;
}

/* navigationMenu text is set to ghost white*/
#navigationMenu a {
	color: #F8F8FF;
}

/*Burger icon and "menu" text in button color is ghostwhite*/
#menuButton {
	color: #F8F8FF;
}

.bodyButtons{
	font-size: x-large;
	text-align: center;
}

/* Center all of the content on the screen */
#bodyContent {
    text-align: center;
}

/* Center the application logo */
#logo {
	display: block;
	margin: 0 auto;
	height: 100px;
}
