/* Make the email field have a bolder border */
#loginEmailField {
	border: 2px solid black;
}

/* Make the password field have a bolder border */
#loginPasswordField {
	border: 2px solid black;
}

/* Center the application name */
#applicationName {
	text-align: center;
}

#subheader {
	text-align: center;
}

/* Center the application logo */
#logo {
	display: block;
	margin: 0 auto;
	height: 100px;
}

#authenticationMessage {
	font-weight: bold;
}

/* Insert a border around the icons for email and password fields */
.input-group-addon {
	border: 2px solid black;
}
