button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Give each icon spacing */
.icon {
  margin-right: 10px;
}

/* User Inserted images */
.userImage{
    height: 200px;
}

#successIcon {
    display: block;
    margin: 0 auto;
    height: 200px;   
}

/* Font size for the navigation menu */
.navigationMenuText {
    font-size: large;
}

/* navigationMenu text is set to ghost white*/
#navigationMenu a {
	color: #F8F8FF;
}

/*Burger icon and "menu" text in button color is ghostwhite*/
#menuButton {
	color: #F8F8FF;
}


/* Center all of the content on the screen */
#bodyContent {
    text-align: center;
}

.bodyButton {
    font-size: x-large;
}
