/* Make the input fields have a bolder border*/
.form-control {
	border: 2px solid black;	
}
/* Insert a border around the [$] sign in "Price of Item" */
.input-group-addon {
	border: 2px solid black;	
}
/* Give each icon in the navigation menu spacing */
.icon {
  margin-right: 10px;
}

img {
	height: 200px;
}

.asterisk {
	color: red;
}

/* Font size for the navigation menu */
.navigationMenuText {
	font-size: large;
}

/* navigationMenu text and links are set to ghost white*/
#navigationMenu a {
	color: #F8F8FF;
}
#navigationMenu p {
	color: #F8F8FF;
}

/*Burger icon and "menu" text in button color is ghostwhite*/
#menuButton {
	color: #F8F8FF;
}

#submitButton {
	font-size: x-large;
	text-align: center;
}
